*{
    margin: 0;
    padding: 0;
}
@media screen and (min-width: 375px) and (max-width: 1440px){
    body{
        background-color: hsl(0, 100%, 74%);
    }
    main{
        /* width: 50%;
        margin: auto;  */
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    .green{
        background-color: hsl(154, 59%, 51%);
    }
    /* .table1{
        background-color: hsl(249, 10%, 26%); */

    .table2 tr{
        padding: 30px;
    }
    main div{
        
    }
}