*{
    margin: 0;
    padding: 0;
}
body{
    /* display: flex; */
    /* align-items: center;
    justify-content: center;
    height: 100vh; */
}
main{
    display: grid;
    grid-template-areas: 
    'a a b'
    'c d d'
    'c d d'
    ;
    gap: 20px;
}
main div{
    border: 1px solid;
    width: 100%;
    height: 100px;
}
.A{
    background-color: #be5020;
    grid-area: a;
}
.B{
    background-color: #ffa401;
    grid-area: b;
}
.C{
    background-color: #05aa42;
    grid-area: c;
}
.D{
    background-color: #01aefd;
    grid-area: d;
}
.E{
    background-color: #01aefd;
    grid-area: e;
}